*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background: hsl(45, 100%, 96%);
	color: hsl(209, 61%, 16%);
	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

p {
	margin-bottom: 1.25rem;
	color: hsl(209, 61%, 16%);
}
@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
		font-size: 1rem;
	}
}

.section {
	padding: 5rem 0;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
}

.nav-links {
	display: none;
}
.nav {
	padding: 1rem;
	display: grid;
	align-items: center;
}

.nav-center {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.nav-header {
	display: grid;
	grid-template-columns: auto 1fr;
	-webkit-box-align: center;
	align-items: center;
}
.nav-btn {
	background: transparent;
	border-color: transparent;
	color: hsl(42, 78%, 60%);
	font-size: 2rem;
	cursor: pointer;
	justify-self: end;
}
.close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	background: transparent;
	border: transparent;
	color: #bb2525;
	cursor: pointer;
}

.close-btn:hover {
	color: #e66b6b;
}
@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}
	.nav-links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		-webkit-column-gap: 2rem;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
		justify-self: end;
	}
	.nav-links a {
		text-transform: capitalize;
		color: hsl(209, 61%, 16%);
		font-weight: bold;
		letter-spacing: 0.25rem;
		transition: all 0.3s linear;
	}
	.nav-links a:hover {
		color: hsl(42, 78%, 60%);
	}
	.nav-center {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
	}
}
.hidden {
	display: none;
}

/* Sidebar
=============== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-grey-10);
	z-index: 4;
	display: grid;
	place-items: center;
	transition: all 0.3s linear;
	transform: translateX(-100%);
}
/* toggle sidebar */
.show-sidebar {
	transform: translateX(0);
}
.sidebar-links {
	text-align: center;
}
.sidebar-links a {
	font-size: 2rem;
	text-transform: capitalize;
	transition: all 0.3s linear;
	color: hsl(210, 22%, 49%);
	letter-spacing: 0.25rem;
	display: inline-block;
	margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
	color: hsl(42, 78%, 60%);
}


.hero-center {
	display: grid;
	place-items: center;
	gap: 1.5rem;
}

@media screen and (min-width: 992px) {
	.hero-img {
		display: block;
		position: relative;
	}
	.hero-center {
		grid-template-columns: 1fr 1fr;
	}
}
.hero-photo {
	object-fit: cover;
	position: relative;
}
